PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=

AUTH_SECRET="un-secreto-muy-largo-y-aleatorio" # Genera uno con: openssl rand -base64 32
AUTH_KEYCLOAK_ID="system-b-client"
AUTH_KEYCLOAK_SECRET="tu-client-secret-de-keycloak"
AUTH_KEYCLOAK_ISSUER="http://localhost:8080/realms/mi-realm"

VAULT_ADDR=
VAULT_TOKEN=